@page "/Register"

@layout HeadlessLayout

<PageTitle>Dima - Entrar</PageTitle>

<MudGrid Justify="Justify.Center">
    <MudItem xs="12" sm="12" md="8" lg="6" xl="6" xxl="6">
        <MudPaper Class="mud-width-full pa-8">
            <div class="d-flex justify-center py-8">
                <img src="imgs/dima.png" alt="Controle Financeiro" width="200">
            </div>
            <MudForm @ref="_mudForm">
                <MudTextField
                    T="string"
                    Label="E-Mail"
                    InputType="InputType.Email"
                    Required="true"
                    RequiredError="Informe o e-mail"
                    Validation="@(new EmailAddressAttribute { ErrorMessage = "E-mail inválido" })"/>
                <MudTextField
                    T="string"
                    Label="Senha"
                    InputType="InputType.Password"
                    Required="true"/>
                <div class="d-flex mt-8">
                    <MudButton
                        Variant="Variant.Filled"
                        Color="Color.Primary"
                        Type="ButtonType.Submit">
                        Cadastrar
                    </MudButton>
                    <MudSpacer/>
                    <MudButton
                        Variant="Variant.Outlined"
                        Color="Color.Surface"
                        Href="/Login">
                        Já tenho uma conta
                    </MudButton>
                </div>

            </MudForm>
        </MudPaper>
    </MudItem>
</MudGrid>

@code{
    MudForm? _mudForm;
}